.env
*.env
results/
logs/
__pycache__/
*.pyc
postgres_data/
minio_data/
.vscode/
.idea/
notepad .gitignore
# Node.js dependencies
node_modules/
# Секреты
.env
*.env

# Виртуальное окружение
venv/
__pycache__
*.pyc

# Логи
*.log